---
import Layout from "../layouts/Layout.astro";
import RulesSearch from "../components/rules/RulesSearch";
import rules from "../data/wrong-answer-rules.json";
---

<Layout title="Wrong-Answer Rules">
	<div class="page-container py-8">
		<h1 class="heading-1 mb-2">Wrong-Answer Rules</h1>
		<p class="body-text mb-8">{rules.length} trigger-to-answer mappings. When the exam says X, the answer is Y.</p>

		<RulesSearch client:load rules={rules as any} />
	</div>
</Layout>
